body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(30, 144, 255);
    color: rgb(3, 15, 3);
}
h1:hover {
    background-color: red;
    color: yellowgreen;
}